<%- include('partials/head.ejs'); %>
<%- include('partials/header.ejs'); %>




<div class="content">
  <section class="container narrow">


    <h1>Let's reset that password now!</h1>
    <p>No problem! Just enter your email address, and we will email you instructions on how to reset it!</p>
    
    <%= message %>
    <form action="/storyboarders/reset_password" method="post">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" name="password" pattern="[0-9a-zA-Z]{8,26}$" title="Enter a password at least 8 chatacters long. Letters and numbers only." required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="confirm_password" name="confirmPassword" required>
      </div>

      <input type="hidden" name="userId" value="<%= userId %>" >
      <input type="hidden" name="forgotPasswordHash" value="<%= forgotPasswordHash %>" >


      <div class="spacer-20"></div>

      <button type="submit" class="btn btn-warning btn-lg">Change Password</button>
    </form>

    <hr>

    <p class="small-print">Remember it again? <a href="/auth/login">Log in</a></p>


  </section>
</div>
<script>
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
    confirm_password.reportValidity();
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

<%- include('partials/footer.ejs'); %>